name: Deploy Zabbix CDR Template

on:
  push:
    branches: [ "main" ]
    paths:
      - 'template/template-cdr-application.xml'
      - 'playbook-deploy-cdr-template.yml'
      - '.github/workflows/deploy-cdr-template.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python & Install Ansible + Zabbix API
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible zabbix-api
          ansible-galaxy collection install community.zabbix

      - name: Install XML Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils

      - name: Validate XML
        run: |
          xmllint --noout template/template-cdr-application.xml


      - name: Deploy template to Zabbix
        env:
          ZABBIX_API_URL: ${{ secrets.ZABBIX_API_URL }}
          ZABBIX_USERNAME: ${{ secrets.ZABBIX_USERNAME }}
          ZABBIX_PASSWORD: ${{ secrets.ZABBIX_PASSWORD }}
        run: |
          ansible-playbook playbook-deploy-cdr-template.yml \
            -e template_file=template/template-cdr-application.xml
